[submodule "component/AuthMicro"]
	path = component/AuthMicro
	url = git@github.com:PavelShe11/AuthMicro.git
[submodule "component/NetworkingMicro"]
	path = component/NetworkingMicro
	url = git@github.com:PavelShe11/NetworkingMicro.git
[submodule "component/WebSocketHub"]
	path = component/WebSocketHub
	url = git@github.com:PavelShe11/WebSocketHub.git
