[submodule "component/AuthMicro"]
	path = component/AuthMicro
	url = git@github.com:FantasmaDux/AuthMicro.git
[submodule "component/UserMicro"]
	path = component/UserMicro
	url = git@github.com:FantasmaDux/UserMicro.git
[submodule "component/WebsocketMicro"]
	path = component/WebsocketMicro
	url = git@github.com:FantasmaDux/WebsocketMicro.git
[submodule "component/ChatMicro"]
	path = component/ChatMicro
	url = git@github.com:FantasmaDux/ChatMicro.git
